

.button, #load-more {
  border-radius: 5px;
  background-color: $dark-red;
  color: $tan !important;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 40px;
  @include fontSize(17px);
  font-family: "Gotham";
  font-weight: 500;
  transition: all .3s;
  border: 0;
  &:hover {
    background-color: $light-red;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  @include appearance(none);
  border: 0;
  width: 100%;
}