

.button {
  border-radius: 5px;
  background-color: $dark-red;
  color: $tan !important;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 40px;
  @include fontSize(17px);
  font-family: "Gotham";
  transition: all .3s;
  &:hover {
    background-color: $light-red;
    text-decoration: none;
  }
}