footer {
    @include float(left);
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    background-color: $dark-red;
    color: $tan;
    p {
        margin: 0;
    }
    .site-info {
        margin: auto;
        width: 100%;
    }
    .gform_wrapper {
        position: relative;
        z-index: 1;
    }
    .gform_body {
        border: 1px solid $tan;
        border-radius: 8px 8px 0 0;
        //height: 42px;
        //overflow: hidden;
        @include media($md) {
            height: 42px;
            border-radius: 8px;    
        }
    }
    .gform_wrapper {
        
        .validation_message {
            display: none !important;
        }
        input {
            height: 40px;
            margin: 0;
            border: 0;
        }
        #field_2_4 .ginput_container{
            border-bottom: 1px solid $tan;
            overflow: hidden;
            border-radius: 8px 8px 0px 0;
            @include media($md) {
                border-radius: 8px 0px 0px 8px;
                border-bottom: none;
                border-right: 1px solid $tan;
            }
        }
       
        .validation_error {
            position: absolute;
            display: none;
            bottom: -40px;
        }
    }
    .sign-up-text {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $light-red;
        color: $tan;
        z-index: 0;
    }
    .footer-left {
        
        margin-bottom: 40px;
        margin-top: 30px;
        padding: 10px;
        @include text-align(left);
        @include media($md) {
            float: left;
            width: 50%;
        }
    }
    .footer-right {
        position: relative;
        .gform_wrapper {
            width: 100%;
             label {
                display: none;
            }
        }
        .gform_button {
            background-color: $tan;
            color: $dark-red !important;
            text-align: center;
            padding:0;
            height: 42px;
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;  
            right: 0;
            border-radius: 0 0px 8px 8px;
            bottom: 0;
            @include fontSize(13px);
            @include media($md) {
                border-radius: 0 8px 8px 0;
                position: absolute;
                width: 75px;
                float: right;    
                top: 0;    
            }
        }
        input {
            background-color: $light-red;
            color: $tan;
            font-weight: 400;
            @include fontSize(16px);
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: $tan;
              text-transform: uppercase;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: $tan;
              text-transform: uppercase;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: $tan;
              text-transform: uppercase;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: $tan;
              text-transform: uppercase;
            }
        }
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 10px;
        //@include text-align(right);
        @include media($md) {
            float: right;
            width: 50%;
        }
    }
    .copyright {
        @include fontSize(12px);
        font-family: "Gotham";
    }
    .gform_confirmation_wrapper {
        font-family: "Gotham";
        text-align: center;
        background-color: $light-red;
        border-radius: 8px;
    }
    a {
        color: $tan;
    }
}



.menu-footer-menu-container {
    @include fontSize(14px);
    font-family: "Gotham";
    text-transform: uppercase;
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        padding-right: 10px;
        display: inline-block;
    }
    a {
        color: $tan;
    }
}