footer {
    @include float(left);
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    background-color: $dark-red;
    color: $tan;
    p {
        margin: 0;
    }
    .site-info {
        margin: auto;
        width: 100%;
    }
    .footer-left {
        
        margin-bottom: 40px;
        margin-top: 30px;
        padding: 10px;
        @include text-align(left);
        @include media($md) {
            @include span-columns(6);
        }
    }
    .footer-right {
        
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 10px;
        @include text-align(right);
        @include media($md) {
            @include span-columns(6);
        }
    }
    .copyright {
        @include fontSize(12px);
        font-family: "Gotham";
    }
}

.menu-footer-menu-container {
    @include fontSize(14px);
    font-family: "Gotham";
    text-transform: uppercase;
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        padding-right: 10px;
        display: inline-block;
    }
    a {
        color: $tan;
    }
}