footer {
    @include float(left);
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    background-color: $dark-red;
    color: $tan;
    p {
        margin: 0;
    }
    .site-info {
        margin: auto;
        width: 100%;
    }
    .footer-left {
        
        margin-bottom: 40px;
        margin-top: 30px;
        padding: 10px;
        @include text-align(left);
        @include media($md) {
            float: left;
            width: 50%;
        }
    }
    .footer-right {
        .gform_wrapper {
            width: 100%;
            .gform_button, label {
                display: none;
            }
        }
        input {
            background-color: $light-red;
            color: $tan;
            font-weight: 400;
            @include fontSize(16px);
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: $tan;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: $tan;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: $tan;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: $tan;
            }
        }
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 10px;
        //@include text-align(right);
        @include media($md) {
            float: right;
            width: 50%;
        }
    }
    .copyright {
        @include fontSize(12px);
        font-family: "Gotham";
    }
}

.menu-footer-menu-container {
    @include fontSize(14px);
    font-family: "Gotham";
    text-transform: uppercase;
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        padding-right: 10px;
        display: inline-block;
    }
    a {
        color: $tan;
    }
}