body:not(.home) {
    #secondary-nav {
        transform: translateY(0px);
    }
}

body.home {
    header#masthead {
         &.not-scrolled {
            position: fixed;
            //background-color: initial;
            @include media($mdbg) {
                position: absolute;
                .logo {
                    display: block;
                    float: none;
                    padding: 0;
                    margin: 20px auto;
                }
                #secondary-nav {
                    //display: none;
                }
                .logo .dark {
                    display: block;
                }
                .logo .light {
                    display: none;
                }
                .hide-scroll {
                    display: block;
                }
                .show-scroll {
                    display: none;
                }
                #primary-nav {
                    width: 100%;
                    float: right;
                    position: relative;
                    padding-top: 2vh;
                    .reservation-widget { 
                        display: block;
                    }
                }
                .menu-menu-1-container {
                    text-align: center;
                    float: none;
                    ul {
                        float: none;
                    }
                    a {
                        color: $dark-red;
                    }
                    li {
                        float: none;
                        display: inline-block;
                        padding-left: 1%;
                        padding-right: 1%;
                        &.menu-item-has-children {
                            padding-bottom: 15px;    
                        }
                    }
                    .sub-menu {
                        //display: none;
                        position: absolute;
                        
                        
                        
                    }
                }
            }
            
        }
    }
}

header#masthead {
    float: left;
    width: 100%;
    position: fixed;
    transition: transform .4s;
    transform: translate3d(0,0,0);
    //background-color: $dark-red;
    top: 0;
    left: 0;
    z-index: 999;

    .hide-scroll {
        display: none;
    }
    .show-scroll {
        transition: all .4s;
        position: absolute;
        ///////////display: none;
        //background-color: $light-red;
        height: calc(100vh - 50px);
        width: 100%;
        @include media($mdbg) {
            width: auto;
            background-color: none;
            position: relative;
            display: block;
            height: auto;
            //overflow-x: hidden;
            float: right;
        }
    }
   
}

#primary-nav {
    //width: 80%;
    //float: right;
    position: relative;
}

#secondary-nav {
    background-color: $dark-red;
    height: 63px;
    float: left;
    width: 100%;
}

.menu-menu-1-container {
    font-family: 'Gotham';
    @include fontSize(16px);
    //float: right;
    a {
        color: $tan;
        text-transform: uppercase;
        line-height: 1.2em;
        @include media($mdbg) {
            line-height: 1.5em;
        }
        &:after {
            content: ">";
            position: absolute;
            right: 10px;
            color: $tan;
            @include media($mdbg) {
                display: none;
            }
        }
        
    }
    ul {
        //float: right;
        padding: 0;
        margin: 0;
        
    }
    li {
        @include media($mdbg) {
            display: inline;
            float: right;
            float: left;
        }
        
        //padding: 15px 3%;
        list-style-type: none;
        position: relative;
    }
}
#menu-menu-2 {
    a {
        display: block;
        padding: 10px 25px;
        @include media($mdbg) {
            padding: 18px 25px;
        }
    }
    > li {
        a {
            border-top: 2px solid $dark-red;
            @include media($mdbg) {
                border-top: 3px solid $dark-red;    
            }
        }
        &:hover {
             > a {
                @include media($mdbg) {
                    border-top: 3px solid $tan;        
                }
            }
            
        }
    }
    .menu-item-has-children {
        > a {
            display: none;
            @include media($mdbg) {
                display: block;
            }
        }
    }
    .sub-menu {
        a {
            padding: 10px 25px;
            @include media($mdbg) {
                padding: 20px 25px;
            }
        }

    }
}
.menu-list {
    position: relative;
    li:hover {
        .sub-menu {
            display: block;
        }
    }
    
    li {
        &:hover {
           > a {
                color: $tan;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

ul.sub-menu {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    margin-left: 0;
    text-align: left;
    top: 0;
    background-color: $light-red;
    @include media($mdbg) {
        display: none;
        position: absolute;
        background-color: $dark-red;
        //width: 220px;
        top: 30px;
        left: 50%;
        margin-left: -100px;
        text-align: center;    
        width: 200px;
    }
    //margin: 0 auto !important;
    
    a {
        border-top: 2px solid $dark-red;
        color: $tan !important;
        display: block;
        padding: 15px 25px;
        line-height: 1.2em;
        @include media($mdbg) {
            border-top: none !important;
        }
    }
    li {
        display: block !important;
        float: none;
        &:hover {
            background-color: $light-red;
        }
    }
}

.reservation-widget {
    position: absolute;   
    text-align: center;
    text-transform: uppercase;
    font-family: "Gotham";
    transition: all .3s;
    @include media($mdbg) {
        width: 200px;
        @include fontSize(16px);
    }
    a {

        background-color: $light-red;
        color: $tan;
        display: block;
        padding: 10px;
    }
    &:hover {
        
        a {
            background-color: $dark-red;
            text-decoration: none;
        }
    }
}

#primary-nav {
    display: none;
    @include media($mdbg) {
        display: block;
    }
    .reservation-widget {
        display: none;
        width: 200px;
        left: 50px;
    }
    .logo {
        width: 180px;
        position: relative;
        padding: 10px;
        float: left;
        display: none;
        //width: 121px;
        a {
            display: block;
        }
        
        .light {
            display: block;
        }
    }

}

#secondary-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .4s;
    box-shadow: 0 5px 14px -6px rgba(0, 0, 0, 8);
    
    @include media($mdbg) {
        transform: translateY(-140px);    
    }
    .reservation-widget {
        width: 300px;
        right: 0;
        top: 63px;
        .widget-wrap {
            position: relative;
            text-align: left;
            display: none;
            background-color: $light-red;
            padding: 10px;
            width: 100%;
            position: absolute;
            top: 50px;
        }
    }
    .logo {
        //width: 180px;
        position: relative;
        padding: 10px;
        float: left;
        width: 140px;
        height: 63px;
        a {
            display: block;
        }
    }
    &.slide-down {
        transform: translateY(0px);
    }
    .menu-menu-1-container {
        width: 80%;
        background-color: $light-red;
        position: absolute;
        height: 100vh;
        top: 63px;
        right: 0;
        transition: all .3s;
        transform: translateX(100vw);
        box-shadow: 0 14px 20px -19px rgba(0, 0, 0, 8);
        @include media($mdbg) {
            transform: translateX(0);
            top: 0px;
            background-color: $dark-red;
            height: auto;
        }
    }
    .sub-menu {
        @include media($mdbg) {
            top: 63px;    
        }
    }
}



header label {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 10px;
    z-index: 130;
    height: 100%;
    margin: 0;
    width: 50px;
}

.hamburger {
    position: relative;
    top: 0;
    z-index: 100;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include media($mdbg) {
        display: none;
    }
}

.hamburger li {
    width: 100%;
    background-color: $tan;
    height: 3px;
    margin-bottom: 5px;
    transition: all .3s;
}

#showblock {
  display: none;
}

#showblock:checked + .menu-menu-1-container {
    transform: translateX(0px);
}



